*.csv filter=lfs diff=lfs merge=lfs -text
ConUS-2018_Geomean-1033yrSAs_vs30=260-siteClass=D_AASHTO-2020.csv filter=lfs diff=lfs merge=lfs -text
ConUS-2018_Geomean-1033yrSAs_vs30=530-siteClass=C_AASHTO-2020.csv filter=lfs diff=lfs merge=lfs -text
